{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'newsstyle/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <title>Title</title>
</head>

<body class="main">
<header>
        <nav>
            <ul>
                <li><a href="#">NEWSTIME</a></li>
                <li><a href="{% url 'main' %}">Главная</a></li>
                <li><a href="{% url 'contact' %}">О нас</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
            </ul>
        </nav>
    </header>
<div class="container-fluid w-50">
<p>{{news.title}}</p>
<p>{{news.data}}</p>


<div id="carouselExampleControls" class="carousel slide w-60" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{news.picture.url}}" class="d-block w-100" alt="...">

        </div>
    {% if images %}
        {% for image in images %}
        <div class="carousel-item">

            <img src="{{ image.image.url }}" class="d-block w-100" alt="...">

        </div>
         {% endfor %}

        {% endif %}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<p>{{news.text}}</p>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</div>
<footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Контакты</h3>
                <p>Телефон: 123-456-789</p>
                <p>Email: info@example.com</p>
            </div>
            <div class="footer-section">
                <h3>Ссылки</h3>
                <ul>
                    <li><a href="{% url 'main' %}">Главная</a></li>
                    <li><a href="{% url 'contact' %}">О нас</a></li>
                    <li><a href="{% url 'contact' %}">Контакты</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Подписывайтесь на наши новости</h3>
                <form>
                    <input type="email" placeholder="Введите ваш email">
                    <button type="submit">Подписаться</button>
                </form>
            </div>
        </div>
        <div class="bottom-bar">
            <p>&copy; 2023 Твой сайт</p>
        </div>
    </footer>

</body>

</html>