{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'newsstyle/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title></title>
</head>

<body>
 <header>
        <nav>
            <ul>
                <li><a href="#">NEWSTIME</a></li>
                <li><a href="{% url 'main' %}">Главная</a></li>
                <li><a href="{% url 'contact' %}">О нас</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
            </ul>
        </nav>
    </header>



    <title>Binance Quotes</title>

<h1>Котировки валют</h1>
<ul>
    {% for symbol, price in quotes.items %}
    <li>{{ symbol }}: {{ price }}</li>
    {% endfor %}
</ul>



<div class="row">
    <div class="col">
        <div id="news-list" class="row">
            {% for el in news %}
            <div class="col-md-4">
                <div class="card mb-5 border-0 h-100 d-flex align-items-stretch">
                    <img src="{{ el.picture.url }}" class="card-img-top ratio ratio-4x3" alt="..." style="width: 100%; height: 300px;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ el.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ el.data }}</h6>
                        <a href='{% url "mydetail" el.id %}'>Подробнее</a>
                    </div>

                </div>

            </div>

            {% endfor %}

        </div>
<br>
    </div>
</div>

 <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Контакты</h3>
                <p>Телефон: 123-456-789</p>
                <p>Email: info@example.com</p>
            </div>
            <div class="footer-section">
                <h3>Ссылки</h3>
                <ul>
                    <li><a href="{% url 'main' %}">Главная</a></li>
                    <li><a href="{% url 'contact' %}">О нас</a></li>
                    <li><a href="{% url 'contact' %}">Контакты</a></li>
                </ul>
            </div>

        </div>
        <div class="bottom-bar">
            <p>&copy; 2023 Твой сайт</p>
        </div>
    </footer>


</body>

</html>
