{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'newsstyle/style.css' %}">
    <title></title>
</head>
<body class="main">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid width-100vw">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  bg-info" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">NEWSTIME</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='{% url "main" %}'>Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Полезное</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">CALL-ЦЕНТР</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<ol>
    {% for el in news %}
    <h1 class="first1">
        <li><p>{{el.title}}</p></li>
    </h1>
    <p>{{el.data}}</p>
    <img src="{{el.picture.url}}">

    <br>
    <button><a href='{% url "mydetail" el.id %}'>Подробнее</a></button>
    {% endfor %}
</ol>

<head>
    <title>Binance Quotes</title>
</head>
<h1>Котировки валют</h1>
<ul>
    {% for symbol, price in quotes.items %}
    <li>{{ symbol }}: {{ price }}</li>
    {% endfor %}
</ul>


<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            {% for el in news %}

            <div class="card" style="width: 18rem;">

                <img src="{{el.picture.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{el.title}}</p>
                    <p class="card-text">{{el.data}}</p>
                    <button><a href='{% url "mydetail" el.id %}'>Подробнее</a></button>

                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>


<div class="container-fluid">
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Контакты</h3>
                <p>Телефон: 123-456-789</p>
                <p>Email: info@example.com</p>
            </div>
            <div class="footer-section">
                <h3>Ссылки</h3>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Подписывайтесь на наши новости</h3>
                <form>
                    <input type="email" placeholder="Введите ваш email">
                    <button type="submit">Подписаться</button>
                </form>
            </div>
        </div>
        <div class="bottom-bar">
            <p>&copy; 2023 Твой сайт</p>
        </div>
    </footer>
</div>


</body>
</html>
